body {
  background-color: #f8f9fa;
  user-select: none;
}

.table-container {
  padding: 20px;
}

.table td {
  text-align: left;
}

.details-btn {
  display: inline-block;
  padding: 10px 20px;
  font-size: 16px;
  text-align: center;
  text-decoration: none;
  background-color: #007bff;
  color: #ffffff;
  border: 2px solid #007bff;
  border-radius: 5px;
  transition: background-color 0.3s, color 0.3s;
}

.add-btn {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

.btn-icon-margine {
  margin-right: 10px;
}

.btn-right {
  display: flex;
  float: right;
  align-items: center;
  font-weight: bold;
}

.table-heading {
  text-align: center;
  font-size: 20px;
}

.heading-button {
  float: right;
  font-weight: bold;
  display: flex;
  align-items: center;
}

.create-list-modal {
  width: 400px;
  margin: 40px auto;
}

.create-list-modal-header {
  padding: 0px 10px 0px 10px;
  border-bottom: 0px;
  background-color: #337ab7;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
